/* Colors */
/* font sizes */
/* Grid */
/* Animations 
**************************************************************/
@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes MoveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* Defines what 1rem is equal to */
  font-size: 62.5%;
  /* (10px/16px)*100  */ }

body {
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-family: "lato", sans-serif;
  color: #777777;
  padding: 2rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary span {
    display: block;
    font-weight: 400; }
  .heading-primary--main {
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: MoveInLeft 1s ease-out; }
  .heading-primary--sub {
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation: MoveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.2s;
  letter-spacing: 2px; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 701;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 12rem; }

/* Button Styles 
*************************************************************/
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 11rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: MoveInBottom 2s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #28b485;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #28b485;
  padding: 1.5rem 0.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #28b485;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.card {
  height: 50rem;
  position: relative;
  perspective: 150rem; }
  .card__side {
    height: 50rem;
    width: 100%;
    transition: all 0.8s;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-size: cover;
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: url("../img/nat-5.jpg"), linear-gradient(to right, #ffb900, #ff7730); }
    .card__picture--2 {
      background-image: url("../img/nat-6.jpg"), linear-gradient(to right, #7ed56f, #28b485); }
    .card__picture--3 {
      background-image: url("../img/nat-7.jpg"), linear-gradient(to right, #2998ff, #5643fa); }
  .card__heading {
    font-size: 2.8rem;
    line-height: 1.4;
    font-weight: 200;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 13.5rem;
    right: 3rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details {
    margin-top: 0.5rem;
    font-weight: 300; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        padding: 1.5rem 0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid rgba(119, 119, 119, 0.2); }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 91%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8.1rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.6rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    position: absolute;
    outline-offset: 1rem;
    transition: all 0.2s; }
    .composition__photo--1 {
      top: -2rem;
      left: 0; }
    .composition__photo--2 {
      top: 2rem;
      right: 0; }
    .composition__photo--3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      outline: 1rem solid #55c57a;
      z-index: 20;
      cursor: pointer; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4rem 2rem;
  font-size: 1.7rem;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s; }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.05); }
  .feature-box__icon {
    font-size: 6.3rem;
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text; }

.story {
  width: 75%;
  padding: 6rem;
  font-size: 1.6rem;
  margin: 0 auto;
  box-shadow: 0 2.54rem 4rem rgba(0, 0, 0, 0.3);
  transform: skewX(-15deg);
  padding-right: 2.5rem; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    shape-outside: circle(50% at 50% 50%);
    float: left;
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2.5rem) skewX(15deg);
    backface-visibility: hidden; }
  .story__image {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.4);
    transition: all 0.3s ease-out; }
  .story__caption {
    text-transform: uppercase;
    font-size: 1.7rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all 0.5s ease-out;
    text-align: center;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(15deg); }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__image {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(0.2rem) brightness(70%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( ((100% - 2 *6rem) / 3) * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * (100% - 3 * 6rem) / 4 + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * (100% - 3 * 6rem) / 4 + 6rem* 2); }

/* Header 
*************************************************************/
.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  padding: 25rem 0 30rem;
  margin-top: -20vh;
  background-color: #f7f7f7; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  transform: skewY(-4.6deg);
  margin-top: -18.5rem; }
  .section-features > * {
    transform: skewY(4.6deg); }

.section-tours {
  padding: 25rem 0 15rem 0;
  background-color: #f7f7f7;
  margin-top: -10rem; }

.section-stories {
  padding: 15rem 0;
  background-color: #f7f7f7; }
