.card {
    height: 50rem;
    position: relative;
    perspective: 150rem;

    &__side {
        height: 50rem;
        color: white;
        width: 100%;
        font-size: 2rem;
        transition: all 0.8s;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.2);
        border-radius: 3px;

        &--front {
            color: green;
        }

        &--back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(
                    to right bottom,
                    $color-primary-light,
                    $color-primary-dark
                );
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}
