.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.6rem 4rem rgba($color: $color-black, $alpha: 0.4);
        border-radius: 3px;
        position: absolute;
        outline-offset: 1rem;
        transition: all 0.2s;

        &--1 {
            top: -2rem;
            left: 0;
        }

        &--2 {
            top: 2rem;
            right: 0;
        }

        &--3 {
            top: 10rem;
            left: 20%;
        }

        &:hover {
            transform: scale(1.05) translateY(0.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color: $color-black, $alpha: 0.4);
            outline: 1rem solid $color-primary;
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.9);
    }
}
